@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Luckiest+Guy&family=Open+Sans&family=Poppins&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Luckiest+Guy&family=Montserrat&family=Open+Sans&family=Poppins&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Luckiest+Guy&family=Montserrat&family=Open+Sans&family=Poppins&family=Rubik&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Kantumruy+Pro&family=Luckiest+Guy&family=Montserrat&family=Open+Sans&family=Poppins&family=Rubik&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Kantumruy+Pro&family=Luckiest+Guy&family=Merriweather&family=Montserrat&family=Open+Sans&family=Poppins&family=Rubik&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Kantumruy+Pro&family=Luckiest+Guy&family=Merriweather&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand&family=Rubik&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Kantumruy+Pro&family=Luckiest+Guy&family=Merriweather&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand&family=Rubik&family=Satisfy&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Hind+Siliguri&family=Kantumruy+Pro&family=Luckiest+Guy&family=Merriweather&family=Montserrat&family=Open+Sans&family=Poppins&family=Quicksand&family=Rubik&family=Satisfy&family=Source+Sans+3&display=swap');
body{margin:0;}
body {
  overflow-x: hidden;
}
.header{background-image:url(back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:1000px;
    position: relative;
    
}


.container{
    display:flex;
    align-items: center;
}


.logo{color:white;
    font-size:69px;
    font-family:"Cormorant Garamond",sans-serif;
    position: absolute;
    top:23px;
    left:94px;
}

.navigator>*{color:white;
     transition: color 0.8s;
}

.navigator>*:hover{color:#8b4513;}



.nav-main{
    
    position: relative;
    top:52px;
    left:537px;
}





.nav-item{font-size:30px;
color:white;
font-family:"Montserrat",sans-serif;
text-decoration: none;
padding:0 50px;

}

.button1{position: absolute;
    text-align:center;
    vertical-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    left:105%;
    top:50%;
    transform: translate(-50%, -50%);
    width:160px;
    font-size:28px;
    background-color: #F4CDB7;
    border-radius: 20px;
    color:black;
    height:60px;
    font-family:"Montserrat",sans-serif;
    text-decoration: none;
    animation: colorTransition 5s infinite alternate; 
}

@keyframes colorTransition {
  0% {
    background-color: #F4CDB7; 
  }
  20% {
    background-color:#FFD1DC; 
  }
  40% {
    background-color: white; 
  }
  60% {
    background-color: #FFDAB9; 
  }
  80% {
    background-color:#E6E6FA; 
  }
  100% {
    background-color:#98FB98; 
  }
}



.slogan{position: absolute;
top:300px;
left:109px;
display:flex;
justify-content: center;
text-align: center;
width:450px;
height:200px;
font-size:50px;
color:white;
font-family:"Rubik",sans-serif;
text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
-webkit-text-stroke: 2px black;
}
.fraza{
position: absolute;
top: 543px;
left:109px;
display:flex;
align-items:center;
justify-content: center;
text-align: center;
width:500px;
height:250px;
font-size:30px;
color:white;
font-family:"Rubik",sans-serif;
background-color: rgb( 0, 0, 0, 0.5);
border-radius: 20px;

}

.magaz{
    position: absolute;
    top:209px;
    right:29px;
    
    width:869px;
    height:695px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoshop{ position: absolute;
    top:7px;
    left:50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    font-size:50px;
    background-color:#A0793D;
    border-radius: 20px;
    height: 70px;
    width:150px;
    font-family: "Kantumruy Pro",sans-serif;
    color:white;
    background: linear-gradient(to top, #A18B6D, #8E714E);
    background-size: 100% 200%;
  transition: background-position 0.4s;
  text-decoration: none;
}
.logoshop:hover {
  background-position: 0% -100%;
}


.mapshop{position: absolute;
    top:88px;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:63px;
  margin-top: auto;
  margin-bottom: auto;
}

.shopimages1{
    height:274px;
    
    
}
.shopimages2{
  height:274px;
  
  margin-top:30px;
}

.buttons{margin:10px;}


.main {height:632px;
  position: relative;
  z-index: 1;
  background-color: black;
   min-height: 100%;
}

.caption {
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-family: "Merriweather", sans-serif;
  font-size: 30px;
  color: white;
}

.slay {
  position: absolute;
  top: 93px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-family: "Merriweather", sans-serif;
  font-size: 30px;
  color: white;
}
.prof{
  position: absolute;
  top:150px;
  left:538px;

}
.bot{ position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2A2A2A;
  width: 1584px;
  height: 600px;
}


.faq{
  position: absolute;
  top:152px;
  left:935px;
 
  width: 572px;
  min-height: 423px;
}
.faq-item{
  border-top:1px solid white;
}
.faq-text{
  display: none;
  color: #FFF;
  font-size:15px;
  
 
  
}
.faq-title{ display: block;
  color:#FFF;
  font-size:25px;
  cursor: pointer;
  padding:20px; 
  position: relative;
  transition: background .5s 
  ease-out;
} 
.faq-title::after{
  content:"";
  display: block;

  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top:50%;
  right:15px;
  transform:translateY(-50%);
}
.faq-title:hover {
 background-color:  rgba(54, 54, 54, 0.918);
}

.faq-input:checked 	 ~  .faq-text{
  display:block;
}
.faq-input:checked 	 ~  .faq-title::after{

border-style: solid;
border-width: 0 6px 10px 6px;
border-color: transparent transparent #ffffff transparent;}



.faq-input{position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width:0;
  height:0;
}


.first-body{font-family:"Quicksand",sans-serif;
font-size:20px;
}



.perexod{
  height:100%;
  position: relative;
}
video {
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-bottom: solid;
  border-color: white;
}

.boxter{
  display: flex;
  position: absolute;
  top:128px;
  left:301px;
  height:418px;
  width:464px;
  background-color: #FFF;
}

.lolgo{
  display: flex;
  position: absolute;
  top:19px;
  left:38px;
  font-size:36px;

}
.text{
  display: flex;
  position: absolute;
  top:129px;
  left:38px;
  font-size: 23px;
}
.help{
  display: flex;
  position: absolute;
  top:334px;
  left:38px;
  text-decoration: none;
  background-color: black;
  font-size: 20px;
  font-family:"Poppins",sans-serif;
  color:white;
  padding:5px 8px;

}

.main3 {position: relative;
  height: 580px;
  background-color:#0C0C0C;
  color: white;
  text-align: center;
  padding: 20px;
}

.logotype{
  position: absolute;
  top:36px;
  left:43px;
  font-size: 50px;
  color:white;
  font-family: "Poppins",sans-serif;
}

.follow{
  position: absolute;
  top:120px;
  left:43px;
  font-size: 35px;
  color:white;
  font-family: "Poppins",sans-serif;
}


.companies{ position: absolute;
  top:185px;
  left:43px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.companies img {
  max-height: 50px; 
  object-fit: contain; 
}

.block1{
  font-family: Arial, Helvetica, sans-serif;
  font-size:35px;
 align-items: center;
}
.block3{
  font-size:25px;
  
  text-align: center;
}

.contactus{
  position: absolute;
  top:121px;
  left:425px;
  font-size:35px;
}

.text1{
  position: absolute;
  top:182px;
  left:425px;
  text-align: left;
  font-family: "Montserrat",sans-serif;
}

.pog{
  position: absolute;
  top:121px;
  left:919px;

}

.text2{
  position: absolute;
  top:182px;
  left:919px;
  text-align: left;
  font-family: "Montserrat",sans-serif;
}


.legal{font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top:310px;
  left:425px;
  font-size:35px;
}


.more{font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top:310px;
  left:919px;
  font-size:35px;
}

.text4{
  position: absolute;
  top:359px;
  left:919px;
  font-size:25px;
  text-align: left;
  font-family: "Montserrat",sans-serif;
}
.text3{
  position: absolute;
  top:359px;
  left:425px;
  font-size:25px;
  text-align: left;
  font-family: "Montserrat",sans-serif;
}

.banks{ position: absolute;
  top:517px;
  left:50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}

.banks img {
  max-height: 50px; 
  object-fit: contain; 
}

.sub{
  position: absolute;
  top:121px;
  right:149px;
  
  font-size:35px;
  font-family:"Poppins",sans-serif;
}



.input-button {
  position: absolute;
  top:211px;
  right:100px;
  width: 205px;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;

}

.input-button::placeholder {
  color: black;
}


.input-button:hover {
  border-color: #888;
}


.input-button:focus {
  border-color: #555;
}


.main4{
  height: 30px;
  text-align: center;
  align-items: center;
}
.copy{
  font-family: "Hind Siliguri", sans-serif;
  font-size: 25px;
}