@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Hind+Siliguri&family=Kantumruy+Pro&family=Luckiest+Guy&family=Merriweather&family=Montserrat&family=Mulish&family=Open+Sans&family=Poppins&family=Quicksand&family=Rubik&family=Satisfy&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@0;1&family=Cutive+Mono&family=Hind+Siliguri&family=Kantumruy+Pro&family=Luckiest+Guy&family=Merriweather&family=Montserrat&family=Mulish&family=Open+Sans&family=Poppins&family=Quicksand&family=Rubik&family=Satisfy&family=Source+Sans+3&display=swap');
body{margin:0;
    background-color:#25221E;
   
}
.header{
    position: relative;
}
.top{ position: absolute;
    top:0%;
    width: 100%;
    background-color: #976B1E;
    height: auto;
}
.top p{
    color:white;
    text-align: center;
    font-family: "Mulish" , sans-serif;
    
}



.shoplogo{position: absolute;
    
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFF;
   
    font-size: 120px;
    height:150px;
    width: 60%;
    font-family: "Cutive Mono",sans-serif;
    
    position: relative;
    z-index: 1;
    padding: 30px;
    border: 5px solid #FFF;
    background:transparent;
   
}

.shoplogo:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid transparent;
    
 }

 .shoplogo:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid transparent;
    background: #fff;
 }

.main{
    position: relative;
    
}

.tovar{display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: auto;
    flex-wrap: wrap;
    background-color: #E9D7BF;
    flex-direction: column;
    border-radius: 20px;
    
}

.home{
    position: absolute;
    bottom: 0%;
}

.line1, .line2 {
    display: flex;
    background-color: #9A794C;
    margin:20px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    
  }
  
  .nav-item {display: flex;
    margin: 20px;
    white-space: nowrap; 
    
  }

  .img-container {
    position: relative;
    width: 400px; 
    height: 300px;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: 
    rgba(12, 11, 11, 0.342); 
    transition: background-color 0.3s ease; 
    border-radius: 20px;
    
  }
  
  .img-container:hover .overlay {
    background-color: 
    rgba(255, 255, 255, 0); 
    
  }
  
  
  a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }


  